<h3>Harald Frebort ist ein &ouml;sterreichisches Unternehmen der IT Branche.</h3>

<div>Den nahezu ungeahnten M&ouml;glichkeiten der Informationsgewinnung stehen die Risiken der beabsichtigten
    Desinformation und der unbeabsichtigten Falschinformation gegen&uuml;ber. Die "richtige" Recherche und die
    erforderliche Distanz zum angebotenen Inhalt will erst erlernt
    werden. Die Chance, sich selbst und andere weltweit zu pr&auml;sentieren kann sehr schnell zur Bedrohung werden,
    wenn die notwendige Intimssph&auml;re des Individuums nicht respektiert wird. &Uuml;ber die bestehenden gesetzlichen
    Regelungen hinaus, muss immer eine veranwortungsvolle Interessensabw&auml;gung stattfinden.</div>
<div><br/>
    Die Anwendungsgebiete der modernen IT bieten ein weites Feld und f&ouml;rdern das Spezialistentum.
    Universalgenies sind leider nur mehr ganz selten anzutreffen. Kooperation der unterschiedlichen Skills und
    gegenseitige Wissensvermittlung sind daher unabdingbare Voraussetzung f&uuml;r eine erfolgreiche
    Weiterentwicklung der Informationstechnologie im Interesse der Nutzer. Kooperation im weitesten Sinne
    bedeutet auch, erworbenes Wissen frei zur Verf&uuml;gung zu stellen.</div>
<div><br/>
    Uns ist vor allem eines wichtig: Die Anwendungsgebiete der modernen IT auch dem gew&ouml;hnlichen Nutzer
    n&auml;her zu bringen, seine F&auml;higkeiten - also Skills, wie es der moderne IT Fachmann ausdr&uuml;cken
    w&uuml;rde - zu steigern und die gegenseitige Wissensvermittlung zum Wohle der Weiterentwicklung der
    Informationstechnologie im Interesse der Nutzer zu erh&ouml;hen. Kooperation im weitesten Sinne bedeutet
    auch, erworbenes Wissen frei zur Verf&uuml;gung zu stellen.
</div>
