<h3>Medieninhaber</h3>
<div>Harald Frebort<br/> IT &amp; Neue Medien<br/> Pottendorfer Straße 14<br/> 2483 Weigelsdorf<br/> Österreich</div>
<div>Tel.: +43 (0) 699  12 722 963<br/> Email: <a href="mailto:office@frebort.at">office@frebort.at</a></div>
<div>UID: ATU 64465199</div>
<div><br/> <strong>Unternehmensgegenstand:</strong> Dienstleistungen in der automatischen Datenverarbeitung und
    Informationstechnik<br/> <strong>Aufsichtsbehörde gem. ECG (E-Commerce Gesetz):</strong> Bezirkshauptmannschaft
    Baden<br/> <strong>anwendbare Rechtsvorschriften:</strong> <a href="http://www.ris2.bka.gv.at" target="_blank"><span
            style="color: blue;"><span style="text-decoration: underline;">www.ris2.bka.gv.at</span></span></a><br/>
    <br/> <a href="http://www.wkoecg.at/Web/Ecg.aspx?FirmaID=ec952671-6dd7-4725-99c1-4b8c125a4094" target="_blank"><img
            src="http://www.wkoecg.at/Web/Library/img/ecg.gif" border="0"/> </a><br/> <br/> Inhalte, Design und sonstige
    Bestandteile Copyright © 2008 - 2015 <a href="http://www.frebort.at" target="_blank">frebort.at</a> online services.
    Unberechtigte Vervielfältigung, Nutzung, Speicherung, Wiedergabe, Verwendung und/oder Modifizierung ist ausdrücklich
    untersagt und wird in jedem Fall straf- und/oder zivilrechtlich verfolgt. Irrtümer und Änderungen vorbehalten.
</div>
