<form name="contact_form">
    <div class="row">
        <h2>Kontaktieren Sie uns</h2>

        <div class="col-xs-8">
            Haben Sie Fragen zu unseren Leistungen? <br/>
            F&uuml;llen Sie das folgende Formular aus, wir werden uns umgehend bei Ihnen melden.<br />
            Oder rufen Sie uns an: +43 (0) 699  12 722 963<br/><br/>
        </div>
    </div>

    <div class="row" data-ng-show="">
        <div class="col-xs-8">{{response}}</div>
    </div>

    <div class="row">
        <div class="col-xs-5">Name
            <input data-ng-model="name" type="text" class="form-control" placeholder="Name" required="true"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5">Email
            <input data-ng-model="email" type="text" class="form-control" placeholder="email@email.com" required="true"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">Nachricht
            <textarea data-ng-model="message" class="form-control" rows="5" required="true"></textarea>
        </div>
    </div>

    <div>&nbsp;</div>
    <div class="btn-group">
        <button type="submit" class="btn btn-default" data-ng-click="sendContactMessage()">Senden</button>
    </div>
</form>