<div class="row">
    <div class="col-xs-4">
        <h3>Entwicklung</h3>

        <div>
            <a href="#/leistungen" class="thumbnail"><img src="images/Entwicklung.jpg" alt="Entwicklung"></a>
        </div>
        <div>Unsere Hauptkompetenz liegt in der Anwendungsentwicklung. Wir analysieren mit Ihnen gemainsam Ihre Gesch&auml;ftsprozesse
            und suchen nach Verbesserungen und entwickeln eine SW-L&ouml;sung nach Ihren W&uuml;nschen und
            Anforderungen.<br>
            Wir wenden agile Softwaremethoden an um bei der Entwicklung sicher und effizient voran zu kommen.
            <ul>
                <li>extreme Programming</li>
                <li>Test- and behaviour-driven Development</li>
            </ul>
            Das sind keine Allheilmittel, aber damit n&auml;hern wir uns in mehreren Iterationen Ihrem Ziel.
        </div>
    </div>
    <div class="col-xs-4">
        <h3>Webauftritt</h3>

        <div>
            <a href="#/leistungen" class="thumbnail"><img src="images/Webauftritt.jpg" alt="Webauftritt"></a>
        </div>
        <div class="center-block">Ein Webauftritt f&uuml;r Unternehmen, Vereine, aber auch f&uuml;r viele private Personen ist in der heuteigen Zeit nicht mehr wegzudenken.<br /></div>
        <div>Unsere St&auml;rken liegen im
            <ul>
                <li>Grafikdesign</li>
                <li>Auswahl und Einsatz von social media</li>
                <li>Responsive design</li>
            </ul>
        </div>
        <div class="">Wir bieten Ihnen dazu umfassende Beratung.</div>
        <div>Von der ersten Idee bis zur Umsetzung.</div>
        <div>Wir entwickeln individuell auf Ihre Vorstellungen abgestimmte Konzepte und Komplettl&ouml;sungen.</div>
    </div>
    <div class="col-xs-4">
        <h3>Wissenstransfer</h3>

        <div>
            <a href="#/leistungen" class="thumbnail"><img src="images/Ausbildung.jpg" alt="Wissenstransfer"></a>
        </div>
        <div>Selbstverst&auml;ndlich geh&ouml;rt es zu unserer unternehmerischen T&auml;tigkeit,
            den Umgang mit unseren Produkten zu trainieren.<br />
            Der aufgekl&auml;rte IT Benutzer soll das Ziel der Bem&uuml;hungen sein.<br />
            Im Vordergrund steht die Vermittlung von 'Skills' und dem Basiswissen der Informationstechnologie,
            um den Anwender auf den richtigen Weg der effizienten Bew&auml;ltigung seiner
            Kernkompetenz leiten soll.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>Interessensabw&auml;gung</h3>

        <div>
            Eine sorgsame Interessenabw&auml;gung ist bei der Verbreitung von Informationen unabdingbar. Die Chancen,
            die die Informations-Technologie bietet, sollen zum Vorteil der Nutzer angewendet und weiterentwickelt werden.
            Risiken sollen aufgezeigt und umgangen werden, um sie so gut wie m&ouml;glich in den Griff zu
            bekommen. Die Verbreitung anst&ouml;&szlig;iger wie auch wahrheitswidriger Beitr&auml;ge oder Inhalte, werden von uns
            strikt abgelehnt. Die 'political correctness' soll bewahrt werden und fragw&uuml;rdige Gesch&auml;ftsmodelle, die
            im schlimmsten Fall sogar auf Abzocke oder Ausbeutung beruhen, werden von uns nicht unterst&uuml;tzt.
        </div>
    </div>
</div>